* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

header {
  padding-block: 1rem;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding-inline: 1rem;
  min-height: 100vh;
  color: #121212;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

footer {
  padding: 2rem;
}

.text-center {
  text-align: center;
}