* {
  box-sizing: border-box;
}

div {
  border: 2px solid red;
  padding: 12px;
  margin-block: 12px;
  width: 200px;
}

span{
  border: 2px solid blue;
  padding: 12px;
  margin-block: 12px;
  width: 200px;
  display: inline-block;
}
