* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #111;
  color: #eee;
  margin: 0;
}

.container {
  outline: 2px solid;
  width: max-content;
  /* padding: 1px; */
  /* padding-top: 33px;
  padding-right: 47px;
  padding-bottom: 26px;
  padding-left: 51px; */

  /* padding: 28px 40px 60px 120px; */

  /* padding-left: 40px; */
  /* padding-inline-start: 40px;
  padding-inline-end: 20px; */
  /* padding-inline: 40px 20px; */

  padding-block: 32px 40px;
  /* direction: rtl; */

  border: 2px solid;
}

h1 {
  text-decoration: underline;
}
