@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ----/ Color \---- */
  --black: #263238;
  --white: #fff;

  --primary: #4caf4f;
  --secondary: #263238;
  --info: #2194f3;

  --warning: #fbc02d;
  --error: #e53835;
  --success: #2e7d31;
  /* ----\ Color /---- */

  /* ----/ Text \---- */
  --primary-font: "Inter", sans-serif;
  /* ----\ Text /---- */

  /* ----/ Other \---- */
  --br-1: 6px;
  --spacer: 16px;
  /* ----\ Other /---- */
}

html {
  font-family: var(--primary-font);
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
}

/* ----/ Navbar \---- */
body>header {
  height: 84px;
  align-content: center;
}

.navbar {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-inline: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.nav-links a {
  color: inherit;
}

/* ----\ Navbar /---- */

/* ----/ Hero Section \---- */
#hero-section {
  padding-inline: 144px;
  padding-block: 96px;
  position: relative;
  z-index: -1;
}

.dots {
  display: flex;
  gap: 8px;
  /* outline: 2px solid red; */
  max-width: max-content;
  position: absolute;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #c2e1c7;
}

/* ----\ Hero Section /---- */

/* ----/ Section 1 \---- */
/* ----\ Section 1 /---- */

/* ----/ Section 2 \---- */
#section-2 .card {
  width: 300px;
  height: 260px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-inline: 32px;
  padding-block: 24px;
  box-shadow: 0 2px 4px rgba(173, 191, 210, 0.2);
  border-radius: var(--br-1);
}

#section-2 .card-primary {
  height: 280px !important;
}

/* ----\ Section 2 /---- */

/* ----/ Section 3 \---- */
#section-3 .right{
  max-width: 661px;
}
/* ----\ Section 3 /---- */

/* ----/ Section 4 \---- */
#section-4{
  background-color: #f5f7fa;
  padding-block: 64px;
}
#section-4 .card{
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

#section-4 .flex-row {
  gap: 72px;
  align-items: center;
}

#section-4 .right{
  flex-grow: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
/* ----\ Section 4 /---- */

/* ----/ Section 5 \---- */
#section-5 .right {
  max-width: 612px;
}

#section-5 .flex-row {
  gap: 72px;
  align-items: center;
  flex-wrap: nowrap;
}
/* ----\ Section 5 /---- */

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 144px;
}

/* ----/ Utilities \---- */
a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
  line-height: 76px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}
.h2 {
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

/* ----/ Utility classes \---- */
.btn {
  all: unset;
  cursor: pointer;
  display: inline-block;
  border: 2px solid inherit;
  border-radius: var(--br-1);
  padding: 12px 20px;
  /* box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5); */
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.6);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0 0 hsla(0, 0%, 0%, 0.5);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
}

.btn-secondary {
  color: var(--primary);
  background-color: var(--white);
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.body-2 {
  font-size: 16px;
  line-height: 24px;
  color: #89939E;
}

.body-3 {
  font-size: 14px;
  line-height: 20px;
  color: #89939E;
}

/* ----/ for margin \---- */
.mt-1 {
  margin-top: calc(var(--spacer) * 0.25);
}

.mt-2 {
  margin-top: calc(var(--spacer) * 0.5);
}

.mt-3 {
  margin-top: calc(var(--spacer) * 1);
}

.mt-4 {
  margin-top: calc(var(--spacer) * 1.5);
}

.mt-5 {
  margin-top: calc(var(--spacer) * 2);
}

.mt-6 {
  margin-top: calc(var(--spacer) * 3);
}

.mb-1 {
  margin-bottom: calc(var(--spacer) * 0.25);
}

.mb-2 {
  margin-bottom: calc(var(--spacer) * 0.5);
}

.mb-3 {
  margin-bottom: calc(var(--spacer) * 1);
}

.mb-4 {
  margin-bottom: calc(var(--spacer) * 1.5);
}

.mb-5 {
  margin-bottom: calc(var(--spacer) * 2);
}

.mb-6 {
  margin-bottom: calc(var(--spacer) * 3);
}

.mx-1 {
  margin-inline: calc(var(--spacer) * 0.25);
}

.mx-2 {
  margin-inline: calc(var(--spacer) * 0.5);
}

.mx-3 {
  margin-inline: calc(var(--spacer) * 1);
}

.mx-4 {
  margin-inline: calc(var(--spacer) * 1.5);
}

.mx-5 {
  margin-inline: calc(var(--spacer) * 2);
}

.mx-6 {
  margin-inline: calc(var(--spacer) * 3);
}

.my-1 {
  margin-block: calc(var(--spacer) * 0.25);
}

.my-2 {
  margin-block: calc(var(--spacer) * 0.5);
}

.my-3 {
  margin-block: calc(var(--spacer) * 1);
}

.my-4 {
  margin-block: calc(var(--spacer) * 1.5);
}

.my-5 {
  margin-block: calc(var(--spacer) * 2);
}

.my-6 {
  margin-block: calc(var(--spacer) * 3);
}
/* ----\ for margin /---- */

/* ----\ Utilities classes /---- *\
/* ----\ Utilities /---- */